/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/tmp/uploads
/storage/media-library
/vendor
.env
.env.backup
.env.prod
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
